# S05 T01: Tasca mètodes de mostreig

### Ex1
##### Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [123]:
%matplotlib inline
import numpy as np
import pandas as pd
import random


df = pd.read_csv("Stats.csv")

df.head()

,match_id,player_id,pts,rank,winner,sets,1,2,3,4,...,service_pts,return_pts,aces,bp_saved,bp_faced,first_serve_rtn_won,second_serve_rtn_won,first_serve_in,dbl_faults,first_serve_per
0,m_2019_A_0,atp_104731,4810.0,6.0,True,3.0,6.0,5.0,6.0,6.0,...,73.0,51.0,14.0,5.0,7.0,29.0,22.0,71.0,5.0,0.645455
1,m_2019_A_1,atp_105932,1820.0,20.0,True,3.0,6.0,4.0,7.0,6.0,...,92.0,50.0,11.0,10.0,15.0,17.0,33.0,90.0,9.0,0.620690
2,m_2019_A_2,atp_105430,585.0,98.0,True,3.0,3.0,6.0,6.0,6.0,...,73.0,59.0,10.0,8.0,13.0,27.0,32.0,90.0,1.0,0.720000
3,m_2019_A_3,atp_105882,401.0,137.0,True,3.0,6.0,6.0,6.0,6.0,...,82.0,45.0,23.0,5.0,6.0,16.0,29.0,63.0,3.0,0.543103
4,m_2019_A_4,atp_104269,1410.0,28.0,True,3.0,7.0,6.0,6.0,NaN,...,63.0,47.0,21.0,1.0,2.0,29.0,18.0,58.0,6.0,0.666667

In [124]:
df = df.reset_index()
df.head()

,index,match_id,player_id,pts,rank,winner,sets,1,2,3,...,service_pts,return_pts,aces,bp_saved,bp_faced,first_serve_rtn_won,second_serve_rtn_won,first_serve_in,dbl_faults,first_serve_per
0,0,m_2019_A_0,atp_104731,4810.0,6.0,True,3.0,6.0,5.0,6.0,...,73.0,51.0,14.0,5.0,7.0,29.0,22.0,71.0,5.0,0.645455
1,1,m_2019_A_1,atp_105932,1820.0,20.0,True,3.0,6.0,4.0,7.0,...,92.0,50.0,11.0,10.0,15.0,17.0,33.0,90.0,9.0,0.620690
2,2,m_2019_A_2,atp_105430,585.0,98.0,True,3.0,3.0,6.0,6.0,...,73.0,59.0,10.0,8.0,13.0,27.0,32.0,90.0,1.0,0.720000
3,3,m_2019_A_3,atp_105882,401.0,137.0,True,3.0,6.0,6.0,6.0,...,82.0,45.0,23.0,5.0,6.0,16.0,29.0,63.0,3.0,0.543103
4,4,m_2019_A_4,atp_104269,1410.0,28.0,True,3.0,7.0,6.0,6.0,...,63.0,47.0,21.0,1.0,2.0,29.0,18.0,58.0,6.0,0.666667

##### mostra aleatòria simple

In [126]:
simple_random_sampling = df.sample(100)
print (simple_random_sampling)

       index      match_id   player_id     pts  rank  winner  sets    1    2  \
1670    1670   m_2006_A_34  atp_103632   492.0  81.0    True   3.0  6.0  7.0
6254    6254   m_2010_U_60  atp_104022  2620.0  14.0    True   3.0  6.0  6.0
10926  10926   m_2013_A_54  atp_103163  1720.0  21.0   False   2.0  6.0  6.0
8146    8146   m_2015_W_52  atp_104918  7450.0   3.0    True   3.0  6.0  7.0
6195    6195    m_2010_U_1  atp_103786  4285.0   6.0    True   3.0  6.0  6.0
...      ...           ...         ...     ...   ...     ...   ...  ...  ...
15919  15919  m_2014_U_112  atp_104259  1505.0  25.0   False   0.0  1.0  5.0
14639  14639   m_2004_F_97  atp_104022     NaN  38.0   False   1.0  2.0  5.0
2214    2214   m_2002_A_71  atp_103819     NaN  12.0    True   3.0  6.0  7.0
13430  13430   m_2013_F_27  atp_104978   795.0  59.0   False   1.0  6.0  6.0
17014  17014   m_2005_U_69  atp_102563  1460.0  14.0   False   1.0  3.0  2.0

         3  ...  service_pts  return_pts  aces  bp_saved  bp_faced  \
1670   6.0  ...         54.0        40.0   1.0       1.0       2.0
6254   6.0  ...         49.0        36.0   4.0       0.0       1.0
10926  3.0  ...        111.0        68.0  18.0       5.0      10.0
8146   6.0  ...         63.0        48.0  14.0       4.0       7.0
6195   6.0  ...         57.0        49.0   3.0       5.0       6.0
...    ...  ...          ...         ...   ...       ...       ...
15919  4.0  ...         51.0        22.0   6.0       5.0       9.0
14639  7.0  ...         64.0        53.0   3.0      11.0      21.0
2214   6.0  ...         63.0        48.0  10.0       4.0       5.0
13430  4.0  ...         88.0        27.0  10.0       5.0       8.0
17014  6.0  ...         59.0        25.0   2.0       1.0       6.0

       first_serve_rtn_won  second_serve_rtn_won  first_serve_in  dbl_faults  \
1670                  14.0                  26.0            63.0         2.0
6254                  13.0                  23.0            33.0         4.0
10926                 38.0                  30.0            97.0         8.0
8146                  23.0                  25.0            62.0         3.0
6195                  28.0                  21.0            51.0         3.0
...                    ...                   ...             ...         ...
15919                 13.0                   9.0            44.0         3.0
14639                 17.0                  36.0            69.0         7.0
2214                  15.0                  33.0            60.0         0.0
13430                 21.0                   6.0           105.0         1.0
17014                  9.0                  16.0            55.0         4.0

       first_serve_per
1670          0.840000
6254          0.515625
10926         0.551136
8146          0.652632
6195          0.600000
...                ...
15919         0.517647
14639         0.584746
2214          0.697674
13430         0.739437
17014         0.578947

[100 rows x 25 columns]

##### una mostra sistemàtica.

In [127]:
sample = 1000
interval =  int (df.size/ sample)
random_number = random.randint(1, 30)

# Define systematic sampling function
def systematic_sampling(df, step):
 
    indexes = np.arange(random_number, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
 
# Obtain a systematic sample and save it in a new variable
systematic_sample = systematic_sampling(df, interval)
 
# View sampled data frame
systematic_sample.head(5)

,index,match_id,player_id,pts,rank,winner,sets,1,2,3,...,service_pts,return_pts,aces,bp_saved,bp_faced,first_serve_rtn_won,second_serve_rtn_won,first_serve_in,dbl_faults,first_serve_per
4,4,m_2019_A_4,atp_104269,1410.0,28.0,True,3.0,7.0,6.0,6.0,...,63.0,47.0,21.0,1.0,2.0,29.0,18.0,58.0,6.0,0.666667
510,510,m_2015_A_11,atp_105676,1669.0,22.0,True,3.0,6.0,6.0,5.0,...,73.0,77.0,11.0,13.0,17.0,44.0,33.0,59.0,9.0,0.483607
1016,1016,m_2011_A_11,atp_103598,956.0,45.0,True,3.0,6.0,6.0,7.0,...,56.0,36.0,1.0,1.0,3.0,24.0,12.0,49.0,3.0,0.583333
1522,1522,m_2007_A_12,atp_102434,544.0,71.0,True,3.0,6.0,7.0,6.0,...,57.0,47.0,3.0,4.0,6.0,25.0,22.0,60.0,1.0,0.697674
2028,2028,m_2003_A_11,atp_102401,NaN,139.0,True,3.0,7.0,6.0,3.0,...,74.0,50.0,8.0,8.0,12.0,27.0,23.0,65.0,3.0,0.565217

### Ex2
##### Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique)

##### genera una mostra estratificada

In [129]:
df['winner'].value_counts()

True     10120
False    10120
Name: winner, dtype: int64

In [130]:
#So 50% winners & 50% losers. It's a tennis game!! :-)
# .apply(lambda x: x.sample(N))
N= 20
df.groupby('winner', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(df))))).sample(frac=1).reset_index(drop=True)

,index,match_id,player_id,pts,rank,winner,sets,1,2,3,...,service_pts,return_pts,aces,bp_saved,bp_faced,first_serve_rtn_won,second_serve_rtn_won,first_serve_in,dbl_faults,first_serve_per
0,13350,m_2014_F_74,atp_106210,641.0,81.0,False,0.0,6.0,4.0,1.0,...,55.0,24.0,5.0,3.0,9.0,9.0,15.0,64.0,1.0,0.653061
1,4382,m_2005_F_86,atp_103264,NaN,37.0,True,3.0,6.0,7.0,6.0,...,58.0,41.0,4.0,2.0,4.0,18.0,23.0,53.0,4.0,0.630952
2,6895,m_2005_U_70,atp_104068,795.0,46.0,True,3.0,6.0,6.0,6.0,...,50.0,34.0,5.0,4.0,4.0,16.0,18.0,35.0,0.0,0.546875
3,1881,m_2005_A_118,atp_103720,NaN,3.0,True,3.0,7.0,3.0,1.0,...,94.0,60.0,18.0,12.0,18.0,39.0,21.0,75.0,6.0,0.513699
4,12298,m_2002_A_35,atp_101897,NaN,68.0,False,0.0,4.0,1.0,2.0,...,34.0,23.0,2.0,3.0,9.0,11.0,12.0,37.0,3.0,0.544118
5,6874,m_2005_U_48,atp_103602,1255.0,23.0,True,3.0,4.0,6.0,7.0,...,85.0,49.0,13.0,2.0,4.0,27.0,22.0,74.0,5.0,0.632479
6,11771,m_2006_A_15,atp_103169,385.0,113.0,False,1.0,6.0,6.0,4.0,...,88.0,41.0,6.0,9.0,12.0,19.0,22.0,87.0,1.0,0.644444
7,13380,m_2014_F_104,atp_104312,1150.0,33.0,False,0.0,2.0,6.0,3.0,...,57.0,37.0,1.0,8.0,13.0,18.0,19.0,60.0,3.0,0.594059
8,10887,m_2013_A_15,atp_105062,526.0,105.0,False,0.0,1.0,1.0,2.0,...,31.0,17.0,1.0,9.0,16.0,8.0,9.0,40.0,4.0,0.547945
9,4398,m_2005_F_102,atp_104745,NaN,5.0,True,3.0,6.0,6.0,6.0,...,48.0,37.0,3.0,1.0,3.0,22.0,15.0,47.0,0.0,0.661972
10,14503,m_2005_F_87,atp_103813,NaN,95.0,False,1.0,2.0,4.0,7.0,...,69.0,41.0,1.0,10.0,18.0,20.0,21.0,73.0,8.0,0.570312
11,14532,m_2005_F_117,atp_104076,NaN,62.0,False,0.0,4.0,1.0,1.0,...,39.0,25.0,7.0,4.0,10.0,14.0,11.0,46.0,1.0,0.560976
12,4257,m_2006_F_87,atp_103990,2020.0,7.0,True,3.0,7.0,6.0,3.0,...,71.0,42.0,0.0,2.0,4.0,17.0,25.0,77.0,1.0,0.793814
13,15211,m_2019_U_34,atp_106216,474.0,117.0,False,1.0,7.0,5.0,5.0,...,104.0,65.0,5.0,16.0,25.0,29.0,36.0,98.0,7.0,0.510417
14,6699,m_2006_U_0,atp_103888,651.0,60.0,True,3.0,6.0,6.0,1.0,...,69.0,57.0,17.0,10.0,15.0,19.0,38.0,53.0,3.0,0.486239
15,2680,m_2018_F_29,atp_106233,3355.0,8.0,True,3.0,6.0,6.0,6.0,...,48.0,43.0,1.0,4.0,6.0,15.0,28.0,49.0,3.0,0.628205
16,12863,m_2018_F_92,atp_104547,590.0,103.0,False,1.0,7.0,6.0,6.0,...,102.0,20.0,16.0,5.0,7.0,9.0,11.0,89.0,4.0,0.664179
17,498,m_2016_A_126,atp_104925,16790.0,1.0,True,3.0,6.0,7.0,7.0,...,74.0,49.0,7.0,4.0,6.0,23.0,26.0,73.0,3.0,0.657658
18,9392,m_2005_W_34,atp_103285,NaN,13.0,True,3.0,6.0,6.0,6.0,...,93.0,64.0,18.0,12.0,15.0,37.0,27.0,99.0,3.0,0.687500
19,17085,m_2004_U_13,atp_103598,NaN,43.0,False,2.0,1.0,6.0,6.0,...,62.0,51.0,12.0,9.0,17.0,15.0,36.0,66.0,1.0,0.594595

##### genera una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique)

In [131]:
!pip3 install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (1.22.1)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (3.0.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\toni andreu\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (1.1.0)

In [132]:
#SMOTE
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE

In [133]:
df['sets'].value_counts()

3.0    9697
0.0    5159
1.0    3287
2.0    2093
Name: sets, dtype: int64

In [139]:
from sklearn.model_selection import train_test_split
y= df['sets'] 
X=df
# split into 70:30 ration
X_train, X_test, y_train, y_test = train_test_split(X.index, y, test_size = 0.3, random_state = 0)
X.iloc[X_train]
# describes info about train and test set
print("Number transactions X_train dataset: ", X_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", X_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (14168,)
Number transactions y_train dataset:  (14168,)
Number transactions X_test dataset:  (6072,)
Number transactions y_test dataset:  (6072,)

### Ex3  
##### Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.